.img-box{
  display: flex;
  flex-direction: row;
  gap: rem(8px);
}

.offer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
}

.txt-input {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
