.main-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(rem(300px), max-content));
  gap: clamp(4.5rem, 10vw, 6rem);
  justify-items: center;
}

.phone {
  display: grid;
}

.phone__speaker {
  z-index: 1;
  grid-column: 2/3;
  grid-row: 1/2;
}

.phone-wrapper {
  z-index: 0;
  grid-column: 1/4;
  grid-row: 1/4;

  display: grid;
  grid-template-columns: repeat(3, rem(80px));
}

.recipient {
  grid-column: 1/4;

  display: grid;
  grid-template-columns: rem(25px) rem(40px) auto auto;
  .btn--back {
    grid-column: 1/2;
    grid-row: 1/3;
  }
  .avatar {
    grid-column: 2/3;
    grid-row: 1/3;
  }
  .username {
    grid-column: 3/4;
    grid-row: 1/2;
  }
  .availability {
    grid-column: 3/4;
    grid-row: 2/3;
  }
  .btn--menu {
    grid-column: 5/6;
    grid-row: 1/3;
  }
}

.mssg {
  &--recipient {
    grid-column: 1/3;
  }
  &--user {
    grid-column: 2/4;
  }
}

.img-box {
  &--user {
    grid-column: 2/4;
  }
}

.offer {
  grid-column: 1/3;
}

.txt-input {
  grid-column: 1/4;
}
