.phone-wrapper{
    display: grid;
    // grid-template-columns: repeat(3, auto);
}

.recipient{
    grid-column: 1/4;
}

.mssg{
    &--recipient{
        grid-column: 1/3;
    }
    &--user{
        grid-column: 2/4;
    }
}

.img-box{
    &--user{
        grid-column: 2/4;
    }
}

.offer{
    grid-column: 1/3;
}