main {
  z-index: 1;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: clamp(rem(310px), 84.9vw, rem(820px));
  max-width: rem(525px);
  @media (min-width: $breakpoint) {
    max-width: unset;
  }
}
