.btn {
  &--back{
    display: none;
  }
  &--select {
    border: solid;
    border-width: rem(1px);
    border-radius: 1rem;

    width: rem(10px);
    height: rem(13px);
  }

  &--send {
    border-radius: 1rem;
    height: 1.5rem;
    width: 1.5rem;
  }
}
