.btn {
  &--back{
    width: rem(25px);
  }
  &--select {
    border: solid;
    border-width: rem(1px);
    border-radius: 1rem;
    width: .25rem;
    height: .75rem;
  }

  &--send {
    padding: 0;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 1rem;
    .send-icon {
      height: 1.9rem;
    }
  }
}
