.btn {
  &--select {
    border: solid;
    border-width: rem(1px);
    border-radius: 1rem;

    width: rem(10px);
    height: rem(13px);
  }

  &--send {
    padding: 0;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 1rem;
    .send-icon{
    height: 1.9rem;

    }
  }
}
