.avatar{
    width: rem(22px);
    height: auto;

    border: solid;
    border-radius: 1rem;
    border-width: .15rem;

    display: block;
    margin-top: auto;
    margin-bottom: auto;
}


.mssg{
    &__img{
        width: rem(37px);
        height: auto;
        border-radius: .75rem;
    }
}