.avatar{
    width: rem(22px);
    height: auto;
    border-radius: 50%;
    border-width: .5rem;
}

.img-box{
    &--user{
        float: right;
    }
}

.mssg{
    &__img{
        width: rem(37px);
        height: auto;
        border-radius: .75rem;
    }
}