.mssg {
  margin: .5rem .5rem 0 .5rem;
  border-radius: 0.5rem;
  width: max-content;
  height: auto;
  padding: 0.5rem;

  &--user{
    margin-left: auto;
  }
}

.offer{
  margin: .5rem .5rem 0 .5rem;
  padding-left: .5rem;
  padding-right: 1rem;
  width: rem(160px);
  height: rem(34px);

  border-top-left-radius: .75rem;
  border-top-right-radius: .75rem;
  border-bottom-right-radius: .75rem;
  border-bottom-left-radius: .25rem;

&__price{
    margin-left: auto;
}
}