.mssg {
  border-radius: 0.5rem;
  width: max-content;
  height: auto;
  padding: 0.5rem;

  &--user{
    margin-left: auto;
  }
}

.offer{
  padding: .25rem;
  width: rem(160px);

  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: .25rem;

&__price{
    margin-left: auto;
}
}