.phone {
  border-radius: 1.5rem;
  border: solid;
  border-color: red;
  width: rem(245px);
}

.phone-wrapper{
    padding:auto;
}

.recipient{
  padding-top: 2rem;
  padding-bottom: 1rem;
}

.txt-input{
  display: none;
}
