.phone {
  padding: 0.5rem;
  border-radius: 1.5rem;
  border: solid;
  border-color: red;
  width: max-content;

  &__speaker {
    width: 8rem;
    height: 1.25rem;

    border-bottom-left-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
  }
}

.recipient {
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;

  padding-top: 2rem;
  padding-bottom: 1rem;
}

.phone-wrapper {
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;

  border-bottom-left-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
}

.txt-input {
  border-radius: 2rem;
  padding: 1rem;

}
