.phone {
  padding: rem(8px);
  border-radius: 1.75rem;
  border: solid;
  border-color: red;
  width: max-content;

  &__speaker {
    width: rem(128px);
    height: rem(18px);

    border-bottom-left-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
  }
}

.phone-wrapper {

  border-top-left-radius: 1.75rem;
  border-top-right-radius: 1.75rem;

  border-bottom-left-radius: 1.75rem;
  border-bottom-right-radius: 1.75rem;
}

.recipient {
  border-top-left-radius: 1.75rem;
  border-top-right-radius: 1.75rem;
  border-bottom-left-radius: .25rem;
  border-bottom-right-radius: .25rem;

  padding-top: 2rem;
  padding-bottom: 1rem;
}

.txt-input {
  margin: .5rem;
  height: rem(30px);
  border-radius: 2rem;
  padding-left: 1rem;
  padding-right: .5rem;
}
