:root{
    @each $name, $size in $display {
        --display-#{$name}: #{rem($size)};
      };
    
    @include colorCP(text);
    @include colorCP(gradient);
    @include colorCP(secondary);

    @each $weight, $name in $font-weight {
        --font-weight-#{$weight}: #{$name};
      }

    }

html{
    font-size: $font-size;
    font-family: $font-family;
}

body{
  margin: 0;
  z-index: -2;
}