.availability {
  font-size: rem(6px);
}

.mssg {
  &__paragraph {
    max-width: rem(140px);
    font-size: rem(10px);
  }
}

.offer{
  &__option{
    font-size: rem(10px);
  float: left;
  }
  &__price{
    font-size: rem(18px);
    float: right;
  }
}
