.btn{
  &--back{
    font-size: 1.5rem;
  }
  
}

.username{
  font-weight: var(--font-weight-light);
}

.availability {
  font-size: rem(6px);
}

.mssg {
  &__paragraph {
    line-height: .7rem;
    max-width: rem(110px);
    font-size: rem(8px);
  }
}

.offer{
  &__option{
    font-size: rem(8px);
  }
  &__price{
    font-size: rem(12px);
    font-weight: var(--font-weight-light);
  }
}

.txt-input{
  &__mssg{
    font-size: rem(10px);
  }
}
