.availability {
  font-size: rem(6px);
}

.mssg {
  &__paragraph {
    line-height: .7rem;
    max-width: rem(110px);
    font-size: rem(8px);
  }
}

.offer{
  &__option{
    font-size: rem(8px);
  }
  &__price{
    font-size: rem(18px);
  }
}
