.avatar{
    border-color: var(--color-white);
}

.mssg{
    &--recipient{
        background-color: var(--color-light-grayish-violet);
    }
    &__paragraph{
        color: var(--color-moderate-violet);
    }
}