.btn {
  &--back {
    color: var(--color-white);
  }
  &--menu {
    color: var(--color-white);
  }
}

.phone {
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.26);
}

.phone__speaker {
  background-color: var(--color-white);
}

.phone-wrapper {
  background-color: var(--color-light-grayish-violet);
}

.recipient {
  background-image: linear-gradient(
    to right,
    var(--color-light-violet),
    var(--color-light-magenta)
  );
}

.avatar {
  border-color: var(--color-white);
}

.username {
  color: var(--color-white);
}

.availability {
  color: var(--color-white);
}

.mssg {
  &--recipient {
    background-color: #ede5f4;
  }
  &--user {
    background-color: var(--color-white);
  }
  &__paragraph {
    &--recipient {
      color: var(--color-moderate-violet);
    }
  }
}

.offer {
  background-image: linear-gradient(
    to right,
    var(--color-light-magenta),
    var(--color-light-violet)
  );
  &__option {
    color: var(--color-white);
  }
  &__price {
    color: var(--color-white);
  }
}

.btn {
  &--select {
    border-color: var(--color-white);
  }
}

.txt-input {
  background-color: var(--color-white);
  &__mssg {
    color: var(--color-light-grayish-violet);
  }
}
