.phone-wrapper{
background-color: var(--color-light-grayish-violet);
}

.avatar{
    border-color: var(--color-white);
}

.mssg{
    &--recipient{
        background-color: #ede5f4;
    }
    &--user{
        background-color: var(--color-white);
    }
    &__paragraph{
        &--recipient{
            color: var(--color-moderate-violet);
        }
    }
}